<%- include('../../partials/head'); %>
<link rel="stylesheet" href="/static/assets/vendor/libs/flatpickr/flatpickr.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/select2/select2.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css"/>
<link rel="stylesheet" href="/static/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css"/>
<link rel="stylesheet" href="/static/assets/vendor/libs/pickr/pickr-themes.css"/>
<link rel="stylesheet" href="/static/assets/vendor/libs/bs-stepper/bs-stepper.css">
<link rel="stylesheet" href="/static/assets/vendor/libs/jquery-timepicker/jquery-timepicker.css">
<link rel="stylesheet" href="/static/assets/vendor/libs/tagify/tagify.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <%- include('../../components/menu'); %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <%- include('../../components/nav'); %>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
<!--                    <h4 class="py-3 mb-4"><span class="text-muted fw-light">User /</span> User detail</h4>-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h4>1. Form information</h4>
                            <div class="row g-3">
                                <div id="render-wrap"></div>
                            </div>
                            <hr class="my-4 mx-n4">
                            <h4>2. User</h4>
                            <div class="row g-3 js-step">
                                <div class="col-md-3" style="display: flex; align-items: center">
                                    <p>Step: Create order</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="select2-info">
                                        <select id="select2Info" class="select2 form-select" multiple>
                                            <option value="1" selected>Nguyen Van A</option>
                                            <option value="2" selected>Nguyen Van B</option>
                                            <option value="3">Nguyen Van C</option>
                                            <option value="4">Nguyen Van D</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-3" style="display: flex; align-items: center">
                                    <p>Step: Confirm</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="select2-info">
                                        <select id="select2Info1" class="select2 form-select" multiple>
                                            <option value="1" selected>Nguyen Van A</option>
                                            <option value="2" selected>Nguyen Van B</option>
                                            <option value="3">Nguyen Van C</option>
                                            <option value="4">Nguyen Van D</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-3" style="display: flex; align-items: center">
                                    <p>Step: Ship</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="select2-info">
                                        <select id="select2Info2" class="select2 form-select" multiple>
                                            <option value="1" selected>Nguyen Van A</option>
                                            <option value="2" selected>Nguyen Van B</option>
                                            <option value="3">Nguyen Van C</option>
                                            <option value="4">Nguyen Van D</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-3" style="display: flex; align-items: center">
                                    <p>Step: Confirm</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="select2-info">
                                        <select id="select2Info3" class="select2 form-select" multiple>
                                            <option value="1" selected>Nguyen Van A</option>
                                            <option value="2" selected>Nguyen Van B</option>
                                            <option value="3">Nguyen Van C</option>
                                            <option value="4">Nguyen Van D</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            <button type="button" class="btn btn-primary me-sm-3 me-1 waves-effect waves-light">Send</button>
                        </div>
                    </div>
                    <!-- / Content -->

                    <!-- Footer -->
                    <%- include('../../partials/footer'); %>
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
    </div>
    <!-- / Layout wrapper -->
    <%- include('../../partials/script'); %>
    <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
    <script src="https://formbuilder.online/assets/js/form-render.min.js"></script>
    <script src="/static/assets/js/admin/form/handle_step.js"></script>
    <script src="/static/assets/vendor/libs/bloodhound/bloodhound.js"></script>
    <script src="/static/assets/js/forms-tagify.js"></script>
    <script src="/static/assets/js/forms-typeahead.js"></script>
    <script src="/static/assets/js/user/form-layouts.js"></script>
    <script>
        jQuery($ => {
            const code = document.getElementById("render-wrap");
            var form = <%- JSON.stringify(data) %>
            var $markup = $("<div/>");

            $markup.formRender({ formData: form.content });

            code.innerHTML = $markup.formRender("html");
        });
    </script>
</body>
</html>