<%- include('../../../partials/head'); %>
<link rel="stylesheet" href="/static/assets/vendor/libs/flatpickr/flatpickr.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/select2/select2.css" />

</head>

<body>
<!-- Content -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <%- include('../../../components/menu'); %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <%- include('../../../components/nav'); %>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Người dùng /</span> Tạo người dùng</h4>
                    <div class="row">
                        <!-- FormValidation -->
                        <div class="col-12">
                            <div class="card">
                                <h5 class="card-header">Create account</h5>
                                <div class="card-body">
                                    <form id="formValidationExamples" class="row g-3" method="post" action="/admin/user/action-create">
                                        <!-- Account Details -->

                                        <div class="col-12">
                                            <h6>1. Account information</h6>
                                            <hr class="mt-0" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="formValidationUsername">Username <span style="color: red">*</span></label>
                                            <input
                                                    class="form-control"
                                                    type="email"
                                                    id="formValidationUsername"
                                                    name="username"
                                                    placeholder="nguyenvana" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="formValidationEmail">Email <span style="color: red">*</span></label>
                                            <input
                                                    class="form-control"
                                                    type="email"
                                                    id="formValidationEmail"
                                                    name="email"
                                                    placeholder="nguyenvana@mail.com" />
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-password-toggle">
                                                <label class="form-label" for="formValidationPass">Password <span style="color: red">*</span></label>
                                                <div class="input-group input-group-merge">
                                                    <input
                                                            class="form-control"
                                                            type="password"
                                                            id="formValidationPass"
                                                            name="password"
                                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                            aria-describedby="multicol-password2" />
                                                    <span class="input-group-text cursor-pointer" id="multicol-password2"
                                                    ><i class="ti ti-eye-off"></i
                                                        ></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-password-toggle">
                                                <label class="form-label" for="formValidationConfirmPass">Confirm password <span style="color: red">*</span></label>
                                                <div class="input-group input-group-merge">
                                                    <input
                                                            class="form-control"
                                                            type="password"
                                                            id="formValidationConfirmPass"
                                                            name="confirmPassword"
                                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                            aria-describedby="multicol-confirm-password2" />
                                                    <span class="input-group-text cursor-pointer" id="multicol-confirm-password2"
                                                    ><i class="ti ti-eye-off"></i
                                                        ></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="formValidationRole">Role</label>
                                            <select name="formValidationRole" class="select2 form-select form-select-lg" data-allow-clear="true">
                                                <option value="5">User</option>
                                                <option value="1">Administrator</option>
                                            </select>
                                        </div>

                                        <!-- Personal Info -->

                                        <div class="col-12">
                                            <h6 class="mt-2">2. Personal information</h6>
                                            <hr class="mt-0" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="formValidationName">Lastname <span style="color: red">*</span></label>
                                            <input
                                                    type="text"
                                                    id="formValidationName"
                                                    class="form-control"
                                                    placeholder="Nguyen"
                                                    name="lastName" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="formValidationName">Firstname <span style="color: red">*</span></label>
                                            <input
                                                    type="text"
                                                    id="formValidationName"
                                                    class="form-control"
                                                    placeholder="Van A"
                                                    name="firstName" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="formValidationPhone">Phone <span style="color: red">*</span></label>
                                            <input
                                                    class="form-control typeahead"
                                                    type="text"
                                                    id="formValidationPhone"
                                                    name="formValidationPhone"
                                                    autocomplete="off" />
                                        </div>
<!--                                        <div class="col-md-6">-->
<!--                                            <label class="form-label" for="formValidationAddress">Tỉnh, Thành phố <span style="color: red">*</span></label>-->
<!--                                            <select id="select2Basic" name="city" class="select2 form-select form-select-lg js-province" data-allow-clear="true"></select>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-6">-->
<!--                                            <label class="form-label" for="formValidationAddress">Quận, Huyện <span style="color: red">*</span></label>-->
<!--                                            <select id="selectDistrict" name="district" class="selectDistrict form-select form-select-lg js-district" data-allow-clear="true"></select>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-6">-->
<!--                                            <label class="form-label" for="formValidationAddress">Phường, Xã <span style="color: red">*</span></label>-->
<!--                                            <select id="selectWard" name="ward" class="selectWard form-select form-select-lg js-ward" data-allow-clear="true"></select>-->
<!--                                        </div>-->
                                        <div class="col-md-12">
                                            <label class="form-label" for="formValidationAddress">Address <span style="color: red">*</span></label>
                                            <input
                                                    class="form-control typeahead"
                                                    type="text"
                                                    id="formValidationAddress"
                                                    name="formValidationAddress"
                                                    autocomplete="off"
                                                    placeholder="Số nhà, ấp, thôn xóm"/>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Gender</label>
                                            <div class="form-check custom mb-2">
                                                <input
                                                        type="radio"
                                                        id="formValidationGender"
                                                        name="formValidationGender"
                                                        value="male"
                                                        class="form-check-input"
                                                        checked />
                                                <label class="form-check-label" for="formValidationGender">Male</label>
                                            </div>

                                            <div class="form-check custom">
                                                <input
                                                        type="radio"
                                                        id="formValidationGender2"
                                                        name="formValidationGender"
                                                        value="female"
                                                        class="form-check-input" />
                                                <label class="form-check-label" for="formValidationGender2">Female</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="formValidationDob">Date of birth <span style="color: red">*</span></label>
                                            <input
                                                    type="text"
                                                    class="form-control flatpickr-validation"
                                                    name="formValidationDob"
                                                    id="formValidationDob"
                                                    placeholder="dd/mm/yyyy"
                                                    required />
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label" for="formValidationBio">Note</label>
                                            <textarea
                                                    class="form-control"
                                                    id="formValidationBio"
                                                    name="formValidationBio"
                                                    rows="3"></textarea>
                                        </div>

                                        <!-- Choose Your Plan -->

                                        <!--                                        <div class="col-12">-->
                                        <!--                                            <label class="switch switch-primary">-->
                                        <!--                                                <input type="checkbox" class="switch-input" name="formValidationSwitch" />-->
                                        <!--                                                <span class="switch-toggle-slider">-->
                                        <!--                                                  <span class="switch-on"></span>-->
                                        <!--                                                  <span class="switch-off"></span>-->
                                        <!--                                                </span>-->
                                        <!--                                                <span class="switch-label">Gửi mail thông tin đăng nhập</span>-->
                                        <!--                                            </label>-->
                                        <!--                                        </div>-->
                                        <div class="col-12">
                                            <button type="submit" name="submitButton" class="btn btn-primary">Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /FormValidation -->
                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <%- include('../../../partials/footer'); %>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
</div>
<%- include('../../../partials/script'); %>
<script src="/static/assets/vendor/libs/cleavejs/cleave.js"></script>
<script src="/static/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
<script src="/static/assets/vendor/libs/select2/select2.js"></script>
<script src="/static/assets/js/form-layouts.js"></script>
<script src="/static/assets/js/admin/user/createUser.js"></script>
<script src="/static/assets/js/admin/user/createUserValidation.js"></script>
</body>
</html>